.html
{
	background: #FFFFFF url("../images/bird_pattern.jpg") no-repeat center center fixed;
	background-size: cover !important;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 566px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -37px;
	margin-bottom: 62px;
}

#pu354-3
{
	width: 0.01px;
	left: -100px;
	position: relative;
}

#u354-3
{
	z-index: 2;
	width: 1160px;
	min-height: 148px;
	border-style: none;
	border-color: transparent;
	background-color: #F4C705;
	position: relative;
	margin-right: -10000px;
}

#menuu355
{
	z-index: 5;
	width: 590px;
	position: relative;
	margin-right: -10000px;
	margin-top: 99px;
	left: 470px;
}

#u363
{
	width: 123px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u366
{
	width: 123px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 5px;
	position: relative;
}

#u369-4
{
	width: 68px;
	min-height: 29px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	color: #FFFFFF;
	font-family: karla, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 27px;
}

#u366:hover #u369-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u366:hover #u369-4 p
{
	color: #EB0000;
	visibility: inherit;
}

#u356
{
	width: 141px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 125px;
}

#u359
{
	width: 141px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 5px;
	position: relative;
}

#u361-4
{
	width: 86px;
	min-height: 29px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	color: #FFFFFF;
	font-family: karla, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 27px;
}

#u366.MuseMenuActive #u369-4,#u359:hover #u361-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u359:hover #u361-4 p
{
	color: #EB0000;
	visibility: inherit;
}

#u411
{
	width: 188px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 268px;
}

#u414
{
	width: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 5px;
	position: relative;
}

#u414.MuseMenuActive
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin: 0px;
}

#u416-4
{
	width: 134px;
	min-height: 29px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	color: #FFFFFF;
	font-family: karla, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 27px;
}

#u359.MuseMenuActive #u361-4,#u414:hover #u416-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u414:hover #u416-4 p
{
	color: #EB0000;
	visibility: inherit;
}

#u1005
{
	width: 132px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 458px;
}

#u1008
{
	width: 132px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 5px;
	position: relative;
}

#u366:hover,#u359:hover,#u1008:hover
{
	margin: 0px;
}

#u1010-4
{
	width: 78px;
	min-height: 29px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	color: #FFFFFF;
	font-family: karla, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 27px;
}

#u414.MuseMenuActive #u416-4,#u1008:hover #u1010-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u1008.MuseMenuActive #u1010-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u1008:hover #u1010-4 p
{
	color: #EB0000;
	visibility: inherit;
}

#u366.MuseMenuActive #u369-4 p,#u359.MuseMenuActive #u361-4 p,#u414.MuseMenuActive #u416-4 p,#u1008.MuseMenuActive #u1010-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-size: 24px;
	font-family: karla, sans-serif;
	font-weight: 700;
	font-style: normal;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u352
{
	z-index: 40;
	width: 332px;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 100px;
}

#u386-10
{
	z-index: 30;
	width: 960px;
	min-height: 246px;
	margin-top: 57px;
	position: relative;
}

#u386-2
{
	font-size: 60px;
	line-height: 72px;
	color: #140D9E;
	font-family: dosis, sans-serif;
	font-weight: 800;
}

#u386-3,#u386-8
{
	font-size: 30px;
	line-height: 36px;
	font-family: karla, sans-serif;
	font-weight: 400;
}

#pu1054-10
{
	width: 0.01px;
	margin-top: 58px;
	position: relative;
}

#u1054-10
{
	z-index: 46;
	width: 433px;
	min-height: 208px;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
}

#u1049
{
	z-index: 44;
	width: 500px;
	position: relative;
	margin-right: -10000px;
	left: 460px;
}

#pu1062
{
	width: 0.01px;
	margin-top: 84px;
	position: relative;
}

#u1062
{
	z-index: 66;
	width: 500px;
	position: relative;
	margin-right: -10000px;
}

#u1055-10
{
	z-index: 56;
	width: 433px;
	min-height: 208px;
	position: relative;
	margin-right: -10000px;
	left: 527px;
}

#u1054-2,#u1055-2
{
	font-size: 48px;
	line-height: 58px;
	padding-bottom: 10px;
	font-family: dosis, sans-serif;
	font-weight: 800;
}

#u1054-4,#u1054-6,#u1054-8,#u1055-4,#u1055-6,#u1055-8
{
	font-size: 30px;
	line-height: 36px;
	padding-bottom: 10px;
	font-family: karla, sans-serif;
	font-weight: 400;
}

#pu382
{
	width: 0.01px;
	margin-top: 102px;
	position: relative;
}

#u382
{
	z-index: 42;
	width: 480px;
	min-height: 354px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u387
{
	z-index: 43;
	width: 480px;
	min-height: 354px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 480px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

