.html
{
	background: #FFFFFF url("../images/bird_pattern.jpg") no-repeat center center fixed;
	background-size: cover !important;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 565.8198630136976px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -37px;
	margin-bottom: 62px;
}

#pu926-3
{
	width: 0.01px;
	left: -100px;
	position: relative;
}

#u926-3
{
	z-index: 4;
	width: 1160px;
	min-height: 148px;
	border-style: none;
	border-color: transparent;
	background-color: #F4C705;
	position: relative;
	margin-right: -10000px;
}

#menuu927
{
	z-index: 7;
	width: 590px;
	position: relative;
	margin-right: -10000px;
	margin-top: 99px;
	left: 470px;
}

#u935
{
	width: 146px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u938
{
	width: 146px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 5px;
	position: relative;
}

#u941-4
{
	width: 146px;
	min-height: 29px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	color: #FFFFFF;
	font-family: karla, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u938:hover #u941-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u938:hover #u941-4 p
{
	color: #EB0000;
	visibility: inherit;
}

#u928
{
	width: 146px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 148px;
}

#u931
{
	width: 146px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 5px;
	position: relative;
}

#u933-4
{
	width: 146px;
	min-height: 29px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	color: #FFFFFF;
	font-family: karla, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u938.MuseMenuActive #u941-4,#u931:hover #u933-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u931:hover #u933-4 p
{
	color: #EB0000;
	visibility: inherit;
}

#u942
{
	width: 146px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 296px;
}

#u945
{
	width: 146px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 5px;
	position: relative;
}

#u938:hover,#u931:hover,#u945:hover
{
	margin: 0px;
}

#u946-4
{
	width: 146px;
	min-height: 29px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	color: #FFFFFF;
	font-family: karla, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u931.MuseMenuActive #u933-4,#u945:hover #u946-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u945:hover #u946-4 p
{
	color: #EB0000;
	visibility: inherit;
}

#u1012
{
	width: 146px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 444px;
}

#u1015
{
	width: 146px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 5px;
	position: relative;
}

#u1015.MuseMenuActive
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin: 0px;
}

#u1018-4
{
	width: 146px;
	min-height: 29px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	color: #FFFFFF;
	font-family: karla, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 0px;
}

#u945.MuseMenuActive #u946-4,#u1015:hover #u1018-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u1015.MuseMenuActive #u1018-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u1015:hover #u1018-4 p
{
	color: #EB0000;
	visibility: inherit;
}

#u938.MuseMenuActive #u941-4 p,#u931.MuseMenuActive #u933-4 p,#u945.MuseMenuActive #u946-4 p,#u1015.MuseMenuActive #u1018-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-size: 24px;
	font-family: karla, sans-serif;
	font-weight: 700;
	font-style: normal;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u924
{
	z-index: 39;
	width: 332px;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 100px;
}

#u919-7
{
	z-index: 32;
	width: 960px;
	min-height: 246px;
	margin-top: 47px;
	position: relative;
}

#u919-2
{
	font-size: 60px;
	line-height: 72px;
	color: #140D9E;
	font-family: dosis, sans-serif;
	font-weight: 800;
}

#u919-3,#u919-5
{
	font-size: 30px;
	line-height: 36px;
	font-family: karla, sans-serif;
	font-weight: 400;
}

#pu1043
{
	width: 0.01px;
	margin-top: 6px;
	position: relative;
}

#u1043
{
	z-index: 55;
	width: 480px;
	position: relative;
	margin-right: -10000px;
}

#u1048-4
{
	z-index: 57;
	width: 455px;
	min-height: 339px;
	font-size: 30px;
	line-height: 36px;
	font-family: karla, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 505px;
}

#pu964
{
	width: 0.01px;
	margin-top: 37px;
	position: relative;
}

#u964
{
	z-index: 2;
	width: 605px;
	position: relative;
	margin-right: -10000px;
	margin-top: 208px;
	left: 156px;
}

#u969
{
	z-index: 43;
	width: 443px;
	position: relative;
	margin-right: -10000px;
	margin-top: 73px;
	left: 6px;
}

#u963-4
{
	z-index: 45;
	width: 960px;
	min-height: 35px;
	font-size: 18px;
	line-height: 22px;
	font-family: karla, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
}

#u915
{
	z-index: 49;
	width: 233px;
	position: relative;
	margin-right: -10000px;
	margin-top: 210px;
}

#u972
{
	z-index: 51;
	width: 533px;
	position: relative;
	margin-right: -10000px;
	left: 440px;
}

#u966
{
	z-index: 53;
	width: 327px;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 626px;
}

#pu961
{
	width: 0.01px;
	margin-top: 38px;
	position: relative;
}

#u961
{
	z-index: 41;
	width: 480px;
	min-height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u920
{
	z-index: 42;
	width: 480px;
	min-height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 480px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

