.html
{
	background: #FFFFFF url("../images/bird_pattern.jpg") no-repeat center center fixed;
	background-size: cover !important;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 566px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -37px;
	margin-bottom: 62px;
}

#pu270-3
{
	width: 0.01px;
	left: -100px;
	position: relative;
}

#u270-3
{
	z-index: 2;
	width: 1160px;
	min-height: 148px;
	border-style: none;
	border-color: transparent;
	background-color: #F4C705;
	position: relative;
	margin-right: -10000px;
}

#menuu277
{
	z-index: 5;
	width: 590px;
	position: relative;
	margin-right: -10000px;
	margin-top: 99px;
	left: 470px;
}

#u278
{
	width: 146px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u279
{
	width: 146px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 5px;
	position: relative;
}

#u280-4
{
	width: 146px;
	min-height: 29px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	color: #FFFFFF;
	font-family: karla, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u279:hover #u280-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u279:hover #u280-4 p
{
	color: #EB0000;
	visibility: inherit;
}

#u310
{
	width: 146px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 148px;
}

#u313
{
	width: 146px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 5px;
	position: relative;
}

#u313.MuseMenuActive
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin: 0px;
}

#u316-4
{
	width: 146px;
	min-height: 29px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	color: #FFFFFF;
	font-family: karla, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 0px;
}

#u279.MuseMenuActive #u280-4,#u313:hover #u316-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u313:hover #u316-4 p
{
	color: #EB0000;
	visibility: inherit;
}

#u404
{
	width: 146px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 296px;
}

#u407
{
	width: 146px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 5px;
	position: relative;
}

#u409-4
{
	width: 146px;
	min-height: 29px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	color: #FFFFFF;
	font-family: karla, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u313.MuseMenuActive #u316-4,#u407:hover #u409-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u407:hover #u409-4 p
{
	color: #EB0000;
	visibility: inherit;
}

#u998
{
	width: 146px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 444px;
}

#u1001
{
	width: 146px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 5px;
	position: relative;
}

#u279:hover,#u407:hover,#u1001:hover
{
	margin: 0px;
}

#u1003-4
{
	width: 146px;
	min-height: 29px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	color: #FFFFFF;
	font-family: karla, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u407.MuseMenuActive #u409-4,#u1001:hover #u1003-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u1001.MuseMenuActive #u1003-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u1001:hover #u1003-4 p
{
	color: #EB0000;
	visibility: inherit;
}

#u279.MuseMenuActive #u280-4 p,#u313.MuseMenuActive #u316-4 p,#u407.MuseMenuActive #u409-4 p,#u1001.MuseMenuActive #u1003-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-size: 24px;
	font-family: karla, sans-serif;
	font-weight: 700;
	font-style: normal;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u271
{
	z-index: 37;
	width: 332px;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 100px;
}

#u267-7
{
	z-index: 30;
	width: 960px;
	min-height: 246px;
	margin-top: 47px;
	position: relative;
}

#u267-2
{
	font-size: 60px;
	line-height: 72px;
	color: #140D9E;
	font-family: dosis, sans-serif;
	font-weight: 800;
}

#u267-3,#u267-5
{
	font-size: 30px;
	line-height: 36px;
	font-family: karla, sans-serif;
	font-weight: 400;
}

#pu462
{
	width: 0.01px;
	position: relative;
}

#u462
{
	z-index: 41;
	width: 455px;
	position: relative;
	margin-right: -10000px;
}

#u491-7
{
	z-index: 43;
	width: 455px;
	min-height: 328px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 505px;
}

#pu511-7
{
	width: 0.01px;
	margin-top: 60px;
	position: relative;
}

#u511-7
{
	z-index: 50;
	width: 455px;
	min-height: 328px;
	position: relative;
	margin-right: -10000px;
}

#u536
{
	z-index: 57;
	width: 479px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 482px;
}

#ppu593-9
{
	width: 0.01px;
	margin-top: 35px;
	position: relative;
}

#pu593-9
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 493px;
}

#u593-9
{
	z-index: 59;
	width: 455px;
	min-height: 447px;
	position: relative;
	margin-right: -10000px;
	left: 12px;
}

#u491-2,#u511-2,#u593-2
{
	font-size: 36px;
	line-height: 43px;
	font-family: dosis, sans-serif;
	font-weight: 800;
}

#u491-3,#u491-5,#u511-3,#u511-5,#u593-3,#u593-5,#u593-7
{
	font-size: 18px;
	line-height: 22px;
	font-family: karla, sans-serif;
	font-weight: 400;
}

#u894
{
	z-index: 71;
	width: 455px;
	position: relative;
	margin-right: -10000px;
	margin-top: 238px;
}

#u647
{
	z-index: 68;
	width: 480px;
	position: relative;
	margin-right: -10000px;
}

#u885
{
	z-index: 70;
	width: 236px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 459px;
	left: 4px;
}

#pu273
{
	width: 0.01px;
	margin-top: 75px;
	position: relative;
}

#u273
{
	z-index: 39;
	width: 480px;
	min-height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u275
{
	z-index: 40;
	width: 480px;
	min-height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 480px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

