.html
{
	background: #FFFFFF url("../images/bird_pattern.jpg") no-repeat center center fixed;
	background-size: cover !important;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 565.9000000000001px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -37px;
	margin-bottom: 62px;
}

#pu120-3
{
	width: 0.01px;
	left: -100px;
	position: relative;
}

#u120-3
{
	z-index: 2;
	width: 1160px;
	min-height: 148px;
	border-style: none;
	border-color: transparent;
	background-color: #F4C705;
	position: relative;
	margin-right: -10000px;
}

#menuu77
{
	z-index: 5;
	width: 590px;
	position: relative;
	margin-right: -10000px;
	margin-top: 99px;
	left: 470px;
}

#u102
{
	width: 146px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u103
{
	width: 146px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 5px;
	position: relative;
}

#u103.MuseMenuActive
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin: 0px;
}

#u105-4
{
	width: 146px;
	min-height: 29px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	color: #FFFFFF;
	font-family: karla, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 0px;
}

#u103:hover #u105-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u103:hover #u105-4 p
{
	color: #EB0000;
	visibility: inherit;
}

#u303
{
	width: 146px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 148px;
}

#u304
{
	width: 146px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 5px;
	position: relative;
}

#u305-4
{
	width: 146px;
	min-height: 29px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	color: #FFFFFF;
	font-family: karla, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u103.MuseMenuActive #u105-4,#u304:hover #u305-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u304:hover #u305-4 p
{
	color: #EB0000;
	visibility: inherit;
}

#u397
{
	width: 146px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 296px;
}

#u398
{
	width: 146px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 5px;
	position: relative;
}

#u401-4
{
	width: 146px;
	min-height: 29px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	color: #FFFFFF;
	font-family: karla, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u304.MuseMenuActive #u305-4,#u398:hover #u401-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u398:hover #u401-4 p
{
	color: #EB0000;
	visibility: inherit;
}

#u991
{
	width: 146px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 444px;
}

#u992
{
	width: 146px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 5px;
	position: relative;
}

#u304:hover,#u398:hover,#u992:hover
{
	margin: 0px;
}

#u995-4
{
	width: 146px;
	min-height: 29px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	color: #FFFFFF;
	font-family: karla, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u398.MuseMenuActive #u401-4,#u992:hover #u995-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u992.MuseMenuActive #u995-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u992:hover #u995-4 p
{
	color: #EB0000;
	visibility: inherit;
}

#u103.MuseMenuActive #u105-4 p,#u304.MuseMenuActive #u305-4 p,#u398.MuseMenuActive #u401-4 p,#u992.MuseMenuActive #u995-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-size: 24px;
	font-family: karla, sans-serif;
	font-weight: 700;
	font-style: normal;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u149
{
	z-index: 39;
	width: 332px;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 100px;
}

#pu124-9
{
	width: 0.01px;
	margin-top: 7px;
	position: relative;
}

#u124-9
{
	z-index: 30;
	width: 559px;
	min-height: 246px;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
}

#u124-4
{
	font-size: 60px;
	line-height: 72px;
	color: #140D9E;
	font-family: dosis, sans-serif;
	font-weight: 800;
}

#u124-5,#u124-7
{
	font-size: 30px;
	line-height: 36px;
	font-family: karla, sans-serif;
	font-weight: 400;
}

#u160
{
	z-index: 41;
	width: 500px;
	position: relative;
	margin-right: -10000px;
	left: 490px;
}

#pu208
{
	width: 0.01px;
	margin-top: 54px;
	position: relative;
}

#u208
{
	z-index: 43;
	width: 480px;
	min-height: 354px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u212
{
	z-index: 44;
	width: 480px;
	min-height: 354px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 480px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

